<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TODO List</title>
    <script src="venders/jquery.min.js" charset="utf-8"></script>
    <script src="scripts/client.js" charset="utf-8"></script>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <h1>Todo List</h1>
    <div id="add-to-todo-list">
      <input type="text" id="new-todo-item" placeholder="-Add new items here-">
      <button type="button" id="add-new-item"></button>
    </div>
    <div id="complete-todo-list">
      <!-- append to todo list here -->
    </div>
  </body>
</html>
